
/* Задний фон страницы и другое */ 
@import url('https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,latin-ext');
* {font-family: 'Rubik', sans-serif;}

  body {
  background:black;
  background-image:none;
  background-repeat:no-repeat;
  background-size: contain;
}


/* Меню */
/* AUTO=sticky_menu */ @media screen and (min-width: 1025px) { .l-top_menu-v2 { position: sticky; top: 0; } .l-top_menu-v2 .active .submenu { max-height: calc(100vh - 46px); overflow: auto; } }
.l-top_menu-v2 {
  background: #343434ba;
    backdrop-filter: saturate(180%) blur(99px);max-width: 1200px;
  margin: auto;  padding: 0;}
.l-top_menu-v2 .global-search input {border-radius: 999px;} /*Меню>Поиск*/
.l-top_menu-v2 .global-search .hotkey-marker {border-radius: 999px;} /*Меню>Поиск*/
.l-top_menu-v2 .menu-dropdown.profile>span img {border-radius: 999px;} /*Меню>Аватарка*/
.l-top_menu-v2 .menu-dropdown>span {background: none;}
.l-top_menu-v2.is-search-shade .search-results {border-radius: 0 0 16px 16px;}/*Меню>Результаты поиска*/
.l-top_menu-v2 .global-search .search-results .nothing_found.active:before, .l-top_menu-v2 .global-search .search-results .nothing_found:focus:before, .l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active:before, .l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus:before, .l-top_menu-v2 .global-search .search-results .search-mode.active:before, .l-top_menu-v2 .global-search .search-results .search-mode:focus:before {border-radius: 10px 0px 0px 10px;}

/* Главная страница */
.b-shade {background: linear-gradient(180deg, rgb(52, 52, 52) 34%, rgba(0,0,0,0) 166%);backdrop-filter: blur(10px);}
.mfp-container {backdrop-filter: blur(10px);}
.copyright::before {content:' FUNNY-shiki-theme | https://vk.com/funnyshikitheme';background: url(https://sun9-47.userapi.com/c858016/v858016306/10835a/NR4BniKj4NE.jpg);padding:2px 5px 2px 5px;color:white;margin-right:5px;}

.p-dashboards-show .v2 .sections .b-link_button {border-radius: 999px;}
.b-video .marker {
    background: none;
    border-radius: 0px;
    bottom: 0px;
    line-height: 20px;
    max-width: 100%;
    padding: 0 8px;
    right: 0px;
    background: rgba(0, 0, 0, 0.21);
    border-radius: 10px 0px 0px 0px;
    backdrop-filter: saturate(180%) blur(99px);
}
.b-comment>.inner header img {
    margin: 1px 10px 7px 0;
    width: 48px;
  border-radius: 999px;}
/*Профиль*/
.p-user_rates-index .list-lines tr.editable {
    background: #e8ebef;
    border: 5px solid #d8dde4;
}
.b-table tr, .b-table td {padding: 10px;}
/*<-Обложка профиля->*/
.p-profiles .profile-head:before {
  margin: -15px -15px  0;

}
.p-profiles .profile-head[data-user-id='298472']:before {
  background: url(https://i.pinimg.com/originals/89/29/f1/8929f1309f9bc5b328db536db7c8a51b.jpg);
  height: 400px;
  content: "";
  display: block;
  background-position: 50% 50%;
  background-size: cover;
}

/*History*/
.p-user_history-index .history-page .history-interval { border-left: 10px solid #d8dde4;}
.p-user_history-index .history-page .history-interval p {padding: 15px; background: #e8ebef;border: 2px solid #d8dde4;margin: 0;}
@media (min-width: 481px){
.p-profiles .profile-head::before { }
}
/*<---------------------->*/

.b-form input[type=submit] {border-radius: 999px;}
.b-input select {border-radius: 999px;}
.p-profiles .profile-head .c-brief .avatar>img {border-radius: 999px;}
.p-profiles-edit .account .avatar-edit>img {border-radius: 999px;}
.b-achievement.is-badge:before {backdrop-filter: blur(5px);}
.b-user.avatar img, .b-user.named_avatar img, .b-user.avatar_fixed_margin img {border-radius: 999px;}
.b-club .logo {border-radius: 99px;}
.history-page a:before {width: auto;}
/* INFO PAGE */
.c-actions {position: relative;
  backdrop-filter: blur(5px);
  top: -36px;
  margin: 0 auto;
  width: 225px;
  background: #34343485;
}
.b-subposter-action {
color: #fff;text-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);}
.b-video .name {
    backdrop-filter: saturate(180%) blur(99px);
}
/*<--Адаптация под телефоны-->*/
@media screen and (max-width: 480px) {

	/* INFO PAGE */
	.c-actions {
		top: 0;
		width: auto;
		height: 320px;
		background-color: #6b6b6b;
	}

	.b-subposter-actions {position: relative;top: 55px;}
	.b-subposter-action:before {font-size: 35px;width: 100%;height: 100%;line-height: 30px;}
	.b-db_entry>.c-image .c-actions .b-subposter-action:not(:last-child) {margin-bottom: 30px;}
   /*Профиль*/
  .p-profiles .profile-head:before{margin: -15px -10px  0;}

}
